<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Candy Crunch</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
    
</head>
<body>
    <label class="radio" data-checked="true">
        <input type="radio" name="group-name" value="option1" 
               class="radio-input" checked>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="radio-icon">
          <path d="M12 19C8.14 19 5 15.86 5 12C5 8.14 8.14 5 12 5C15.86 5 19 8.14 19 12C19 15.86 15.86 19 12 19ZM12 6C8.69 6 6 8.69 6 12C6 15.31 8.69 18 12 18C15.31 18 18 15.31 18 12C18 8.69 15.31 6 12 6Z" fill="#017E6A"/>
          <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="#017E6A"/>
        </svg>
        <span class="radio-label">Option 1</span>
      </label>
      
      <label class="radio" data-checked="false">
        <input type="radio" name="group-name" value="option2" 
               class="radio-input">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="radio-icon">
          <path d="M12 19C8.14 19 5 15.86 5 12C5 8.14 8.14 5 12 5C15.86 5 19 8.14 19 12C19 15.86 15.86 19 12 19ZM12 6C8.69 6 6 8.69 6 12C6 15.31 8.69 18 12 18C15.31 18 18 15.31 18 12C18 8.69 15.31 6 12 6Z" fill="#017E6A"/>
        </svg>
        <span class="radio-label">Option 2</span>
      </label>
    <header class="header-section">
        <div class="logo-img">
            <img src="../img/logo.svg" alt="Candy Crunch Logo" class="logo-img">
        </div>
    </header>

    <section class="login-section">
        
        <div class="login-card">
            <button class="close-btn" onclick="window.location.href='index.html'">&times;</button>

            <div class="login-header-content">
                <h1 class="login-title">Login</h1>
                <p class="login-subtitle">Welcome back! Nice to meet you again!</p>
                <p class="login-desc">Don't have an account? <a href="../php/sign up.html" class="signup-link">Sign up</a></p>
            </div>
            <form id="loginForm" class="login-form">
                
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" id="login_input" placeholder="Enter your email" required>
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <div class="password-wrapper"> <input type="password" id="login_password" placeholder="Enter password" required>
                        <span class="toggle-password" id="togglePassword">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="cta-btn full-width" id="btnLogin">
                        Login
                    </button>
                </div>

                <div class="login-footer-links">
                    <a href="../php/forgot password.html" class="forgot-link">Forgot your password?</a>
                </div>
            </form>
        </div>
    </section>
   
</body>
</html>